/* === Hero Section === */
.brand {
  font-weight: bold;
}

/* CTA Section */
.cta {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.full-width-wrapper {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50%;
    margin-right: -50%;
}

.cta.dark {
  background-color:#000;
  color: white;
  padding: 60px 30px;
  border-radius: 20px;
  max-width: 1500px;
  margin: 40px auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.cta h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 30px;
  background: white;
  color: #000;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
}

.btn:hover {
  background: var(--primary);
  color: white;
}

/* Category Section */
.categories {
  padding: 60px 20px;
  background-color: #fff;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.categories h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.categoryButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.ctaBtn {
  padding: 10px 20px;
  background-color: #eee;
  border-radius: 25px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
}

.ctaBtn:hover {
  background-color: var(--primary);
  color: #fff;
}

/* Mobile Devices */
@media (max-width: 767px) {
  .heroImage h1 {
    font-size: 32px;
  }

  .heroImage p {
    font-size: 16px;
    max-width: 100%;
  }

  .cta.dark {
    padding: 40px 20px;
    max-width: 100%;
    margin: 30px 10px;
  }

  .cta h2 {
    font-size: 28px;
  }

  .cta p {
    font-size: 16px;
  }

  .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}

/* Tablet Devices */
@media (max-width: 1024px) {
  .heroImage h1 {
    font-size: 40px;
  }

  .cta.dark {
    padding: 40px 20px;
    max-width: 100%;
    margin: 30px 10px;
  }

  .cta h2 {
    font-size: 32px;
  }

  .btn {
    font-size: 16px;
    padding: 10px 25px;
  }
}