.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.hero {
  text-align: center;
  padding: 4rem 0;
}

.title {
  font-size: 2.5rem;
  color: var(--main-black);
  margin-bottom: 1.5rem;
}

.description {
  font-size: 1.2rem;
  color: var(--note);
  max-width: 600px;
  margin: 0 auto 2rem;
}

.searchForm {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.searchInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.suggestions {
  position: absolute;
  background: #222;
  max-width: 350px;
  width: 100%;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  z-index: 10;
  max-height: 300px;
  overflow-y: auto;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
}

.suggestionItem {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: var(--main-black);
}

.suggestionImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}